/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Inter", sans-serif; }

img {
  width: 100%; }

p {
  font-size: 15px; }

/* Aside: New */
aside.new {
  padding: 38px 28px;
  margin-bottom: 42px;
  background-color: #00001a;
  color: #fffdfa; }

/* Boxes */
.grid-container .box {
  max-width: 1110px;
  margin: auto;
  display: flex;
  column-gap: 25px; }
  .grid-container .box img {
    width: 96px;
    height: 126px; }
  .grid-container .box h2 {
    color: #c5c6ce;
    font-size: 2rem;
    margin-bottom: 0.7rem; }
  .grid-container .box h3 {
    color: #00001a;
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 0.7rem; }
  .grid-container .box p {
    line-height: 1.7;
    color: #5d5f79; }

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat 3, 1fr;
  grid-template-areas: "feature feature new" "feature feature new" "box-1 box-2 box-3";
  grid-gap: 30px;
  max-width: 1110px;
  margin: auto; }

.feature {
  grid-area: feature; }

.new {
  grid-area: new; }

.box-1 {
  grid-area: box-1; }

.box-2 {
  grid-area: box-2; }

.box-3 {
  grid-area: box-3; }

/* For Debugging */
