/* Variables */
/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  font-family: "Inter", sans-serif; }

img {
  width: 100%; }

p {
  font-size: 15px;
  line-height: 1.65;
  color: #5d5f79; }

/* Nav Bar */
nav.main-nav {
  max-width: 1110px;
  height: 140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  nav.main-nav img {
    width: 65px; }
    nav.main-nav img.mobile-menu-icon {
      display: none; }
    nav.main-nav img.close-menu-icon {
      display: none; }
  nav.main-nav ul {
    display: flex;
    list-style: none; }
  nav.main-nav a {
    display: block;
    margin-left: 40px;
    font-size: 16px;
    color: #5d5f79; }
    nav.main-nav a:hover {
      color: #f15e50;
      cursor: pointer; }

nav.mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  nav.mobile-nav .menu-list {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fffdfa;
    font-size: 1.1rem; }
  nav.mobile-nav ul {
    list-style: none;
    padding: 50px; }
    nav.mobile-nav ul li {
      padding: 15px; }
      nav.mobile-nav ul li a:hover {
        color: #f15e50;
        cursor: pointer; }

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "feature-top-wide feature-top-wide new" "feature-left feature-right new" "box-1 box-2 box-3";
  grid-gap: 30px;
  max-width: 1110px;
  margin: auto;
  /* Aside: New */
  /* Boxes */ }
  .grid-container .feature-top-wide {
    grid-area: feature-top-wide; }
  .grid-container .feature-left {
    grid-area: feature-left; }
  .grid-container .feature-right {
    grid-area: feature-right; }
  .grid-container .new {
    grid-area: new; }
  .grid-container .box-1 {
    grid-area: box-1; }
  .grid-container .box-2 {
    grid-area: box-2; }
  .grid-container .box-3 {
    grid-area: box-3; }
  .grid-container .feature-top-wide {
    grid-area: feature-top-wide; }
  .grid-container .feature-top-square {
    display: none; }
  .grid-container .feature-left img,
  .grid-container .feature-right img {
    width: 100%;
    margin-bottom: 30px; }
  .grid-container .feature-left h1,
  .grid-container .feature-right h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #00001a;
    line-height: 1; }
  .grid-container .feature-left p,
  .grid-container .feature-right p {
    margin-bottom: 2rem; }
  .grid-container .feature-left a.btn,
  .grid-container .feature-right a.btn {
    display: inline-block;
    background-color: #f15e50;
    color: #fffdfa;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
    font-weight: 700; }
    .grid-container .feature-left a.btn:hover,
    .grid-container .feature-right a.btn:hover {
      background-color: #00001a; }
  .grid-container aside.new {
    padding: 32px 28px;
    margin-bottom: 42px;
    background-color: #00001a; }
    .grid-container aside.new a:hover {
      color: #e9ab53;
      cursor: pointer; }
    .grid-container aside.new h2 {
      color: #e9ab53;
      font-size: 2.4rem; }
    .grid-container aside.new h3 {
      color: #fffdfa;
      font-size: 800;
      font-size: 1.2rem;
      margin-top: 1.8rem; }
    .grid-container aside.new p {
      color: #c5c6ce;
      margin-top: 0.7rem; }
    .grid-container aside.new .line-separator {
      border-top: 1px solid #5d5f79;
      margin-bottom: 2rem;
      margin-top: 2rem; }
  .grid-container .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 25px;
    margin: 0; }
    .grid-container .box a:hover {
      color: #f15e50;
      cursor: pointer; }
    .grid-container .box img {
      width: 96px;
      height: 126px; }
    .grid-container .box h2 {
      color: #c5c6ce;
      font-size: 2rem;
      margin-bottom: 0.7rem; }
    .grid-container .box h3 {
      color: #00001a;
      font-size: 1.1rem;
      font-weight: 800;
      margin-bottom: 0.7rem; }
    .grid-container .box > div {
      width: 100%; }

@media (max-width: 800px) {
  nav.main-nav ul {
    display: none; }
  nav.main-nav img {
    width: 65px; }
    nav.main-nav img.mobile-menu-icon {
      display: block; }
      nav.main-nav img.mobile-menu-icon:hover {
        cursor: pointer; }
    nav.main-nav img.close-menu-icon {
      display: none; }
      nav.main-nav img.close-menu-icon:hover {
        cursor: pointer; }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "feature-top-square" "feature-left" "feature-right" "new" "box-1" "box-2" "box-3";
    grid-gap: 30px; }
    .grid-container .feature-top-wide {
      display: none; }
    .grid-container .feature-top-square {
      display: block; }
    .grid-container aside.new {
      margin-bottom: 0; } }
