/* Variables */
$primary-color: hsl(35, 77%, 62%);
$secondary-color: hsl(5, 85%, 63%);
$neutral-color-1: hsl(36, 100%, 99%);
$neutral-color-2: hsl(233, 8%, 79%);
$neutral-color-3: hsl(236, 13%, 42%);
$neutral-color-4: hsl(240, 100%, 5%);

$font-stack: "Inter", sans-serif;

$max-width: 1110px;
$min-width: 375px;
$grid-gap: 30px;

/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
}

img {
  width: 100%;
}

p {
  font-size: 15px;
  line-height: 1.65;
  color: $neutral-color-3;
}
