@import "variables";

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
}

img {
  width: 100%;
}

p {
  font-size: 15px;
}

/* Aside: New */

aside.new {
  padding: 38px 28px;
  margin-bottom: 42px;
  background-color: $neutral-color-4;
  color: $neutral-color-1;
}

/* Boxes */

.grid-container .box {
  max-width: $max-width;
  margin: auto;
  display: flex;
  column-gap: 25px;

  img {
    width: 96px;
    height: 126px;
  }

  h2 {
    color: $neutral-color-2;
    font-size: 2rem;
    margin-bottom: 0.7rem;
  }

  h3 {
    color: $neutral-color-4;
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 0.7rem;
  }

  p {
    line-height: 1.7;
    color: $neutral-color-3;
  }
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-areas:
    "feature feature new"
    "feature feature new"
    "box-1 box-2 box-3";
  grid-gap: $grid-gap;
  max-width: $max-width;
  margin: auto;
}

.feature {
  grid-area: feature;
}

.new {
  grid-area: new;
}

.box-1 {
  grid-area: box-1;
}

.box-2 {
  grid-area: box-2;
}

.box-3 {
  grid-area: box-3;
}

/* For Debugging */
// .feature,
// .new,
// .box-1,
// .box-2,
// .box-3 {
//   border: 1px #ccc solid;
//   padding: 0.5rem;
// }
